<!DOCTYPE html>

<html>
    <head>
        <title>Dashboard</title>
    <div th:replace="layout/headerlink :: headerlink"></div>
    </head>
    <body>
        <div th:replace="layout/sidebar :: sidebar"></div>
        <div class="content-container">
            <div th:replace="layout/header :: header"></div>
            <div class="container-fluid">
                <div class="jumbotron">
                    <h1 class="display-4">Welcome to Project Client-Apps</h1>
                    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                    <hr class="my-4">
                    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                    </p>
                </div>

                <footer>
                    <div th:replace="layout/footer :: footer"></div>
                </footer>
            </div>
        </div>
        <script>
           swal("Have a nice day!"); 
        </script>
        
        
    </body>
</html>