<!DOCTYPE html>

<html>
    <head>
        <title>Client-App District</title>
    <div th:replace="layout/headerlink :: headerlink"></div>
</head>

<body>
    <div th:replace="layout/sidebar :: sidebar"></div>
    <div class="content-container">
        <div th:replace="layout/header :: header"></div>

        <div class="container my-3">

            <h3>Data District</h3>
            <br>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#form"
                    sec:authorize="hasAuthority('CREATE')"> Add District</button>
            <br>
            <br>
            <table id="districtTable" class="table table-bordered table-striped table-hover-col-sm-3">
                <thead>

                    <tr>
                        <td>District Id</td>
                        <td>Kota-Kabupaten</td>
                        <td>District Name</td>
                        <td>Province Id </td>
                        <td>Province Name</td>
                        <td>Action</td>
                    </tr>

                </thead>

                <tbody>
                    <!--iterator(satuan) : list<satuan>(tergantung model yg diberikan nama pada controller)-->
                    <tr th:each="d : ${districts}">
                        <td th:text="${d.districtId}"></td>
                        <td th:text="${d.kab}"></td>
                        <td th:text="${d.districtName}"></td>
                        <!--sebelah kiri sebagai objek yg mendeklarasikan provinceId--> 
                        <td th:text="${d.provinceId.provinceId}"></td>
                        <td th:text="${d.provinceId.provinceName}"></td>
                        <td>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#form-update"
                               sec:authorize="hasAuthority('UPDATE')">Edit</button>

<!--                            <button th:href="@{/district/delete/{id} (id = ${d.districtId})}" type="submit" onclick=""
                                    class="btn btn-danger" sec:authorize="hasAuthority('DELETE')" id="delete">Delete</button>-->
                            
                            <button id='deleteDistrict' class='btn btn-sm btn-danger delete_district' data-id='"${d.districtId}"'>Delete</button>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--footer-->
    <div th:replace="layout/footer :: footer"></div>                
    <!--footer--> 
    <script>
        $(document).ready(function () {
            var table = $('#districtTable').DataTable();
        });
    </script>
    <script th:src="@{/js/del-district.js}"></script>
    <script th:src="@{/js/form-validation.js}"></script>
<!------------------------------------------------------------------------------------------------>
<!--ADD DISTRICT-->
<!------------------------------------------------------------------------------------------------>

    <div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <h5 class="modal-title" id="exampleModalLabel">Add District</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form class="needs-validation novalidate">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="districtId">District Id</label>
                            <input type="number" class="form-control" placeholder="District Id" required> 
                            <div class="invalid-feedback">
                                Please enter your district id.
                            </div><br>
                        </div>
                        

                        <div class="form-group">
                            <label for="kab">Kota - Kabupaten</label>
                            <input type="text" class="form-control" placeholder="Kota / Kab" required> 
                            <div class="invalid-feedback">
                                Please enter your district id.
                            </div><br>
                        </div>

                        <div class="form-group">
                            <label for="districtName">District Name</label>
                            <input type="text" class="form-control" placeholder="District Name" required> 
                            <div class="invalid-feedback">
                                Please enter your district id.
                            </div><br>
                        </div>

                        <div class="form-group">
                            <label for="exampleFormControlInput1">Province Name</label>
                            <select class="form-control" id="exampleFormControlInput1" required>
                                <option value="" selected>--Pilih Provinsi--</option>
                                <option value="1" >Sumatera Utara</option>
                                <option value="2">DIY</option>
                                <option value="3">DKI Jakarta</option>
                                <option value="4">Jawa Barat</option>
                                <option value="5">Jawa Tengah</option>
                                <option value="6">Riau</option>
                                <option value="7">Sumatera Selatan</option>
                                <option value="8">Sulawesi Barat</option>
                                <option value="9">Nusa Tenggara Barat</option>
                            </select>
                            <div class="invalid-feedback">
                                Please enter your district id.
                            </div><br>
                        </div>
                    </div>
                    <div class="modal-footer border-top-0 d-flex justify-content-center">
                        <button type="submit" class="btn btn-success">Submit</button>
                        <button th:href="@{/district}" class="btn btn-danger col-2">Back</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

<!------------------------------------------------------------------------------------------------>
<!--UPDATE DISTRICT-->
<!------------------------------------------------------------------------------------------------>

    <div class="modal fade" id="form-update" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <h5 class="modal-title" id="exampleModalLabel">Edit District</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="districtId">District Id</label>
                            <input type="number" class="form-control" placeholder="District Id" required> 
                        </div>

                        <div class="form-group">
                            <label for="kab">Kota - Kabupaten</label>
                            <input type="text" class="form-control" placeholder="Kota / Kab" required> 
                        </div>

                        <div class="form-group">
                            <label for="districtName">District Name</label>
                            <input type="text" class="form-control" placeholder="District Name" required> 
                        </div>

                        <div class="form-group">
                            <label for="exampleFormControlInput1">Province Name</label>
                            <select class="form-control" id="exampleFormControlInput1" required>
                                <option value="" selected>--Pilih Provinsi--</option>
                                <option value="1" >Sumatera Utara</option>
                                <option value="2">DIY</option>
                                <option value="3">DKI Jakarta</option>
                                <option value="4">Jawa Barat</option>
                                <option value="5">Jawa Tengah</option>
                                <option value="6">Riau</option>
                                <option value="7">Sumatera Selatan</option>
                                <option value="8">Sulawesi Barat</option>
                                <option value="9">Nusa Tenggara Barat</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer border-top-0 d-flex justify-content-center">
                        <button type="submit" class="btn btn-success">Submit</button>
                        <button th:href="@{/district}" class="btn btn-danger col-2">Back</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>