<!DOCTYPE html>

<html>
    <head>
        <title>Dashboard</title>
        <div th:replace="layout/headerlink :: headerlink"></div>
    </head>
    <body>
        <!-- sidebar-->
      <div th:replace="layout/sidebar :: sidebar"></div>
        <!--    menu district-->
        <div class="content-container">
            <div th:replace="layout/header :: header"></div>
            <div class="container my-2">
                <h1>Tambah Data Province</h1>
                <form th:action="@{/province/add}" method="post" th:object="${province}"
                       class="needs-validation" novalidate>
                <form>
                    <div class="form-group">
                        <label>Province Id</label>
                        <input type="number" th:field="*{provinceId}" class="form-control mb-4 col-4" required>
                         <div class="invalid-feedback">
                                Please enter your province id.
                            </div>
                        <br>   
                        <label>Province Name</label>
                        <input type="text" th:field="*{provinceName}" class="form-control mb-4 col-4" required>
                         <div class="invalid-feedback">
                                Please enter your province name.
                            </div><br>
       
                        <button type="submit" onclick="onClickUpdated()" class="btn btn-info col-2">Submit</button>
                    </div>
                </form>
            </div>
            <!--end menu district-->

            <!-- footer-->
            <footer>
                <div th:replace="layout/footer :: footer"></div>
            </footer>
            <!--footer-->

        </div>
    </div>
    <script th:src="@{/js/form-validation.js}"></script>
    <script th:src="@{/js/sweetalert.js}"></script>
</body>
</html>