<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CONTACTS - KELOMPOK 3 MCC 47</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link th:href = "@{/css/style.css}" rel = "stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">        
            <a class="navbar-brand" href="#">KELOMPOK 3 - MCC 47</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                    <a class="nav-link" th:href="@{/dashboard}">Dashboard<span class="sr-only">(current)</span></a>


                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Contact
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" th:href="@{/contacts/new}">Add Contact</a>
                            <a class="dropdown-item" th:href="@{/contacts}">List Contact</a>
                            <div class="dropdown-divider"></div>
                        </div>
                    </li>

                </ul>
                <form class="form-inline my-2 my-lg-0" action="/logout">
                    <button class="btn btn-outline-success my-2 my-sm-0"  type="submit" >Logout</button>
                </form>
                
            </div>
        </nav>

        <div class="container d-flex justify-content-center align-items-center flex-column">
            <h1>CONTACT EMPLOYEE</h1>
            <table border="2" class="table">
                <thead class="thead-dark">
                    <tr class="text-center">
                        <th>Contact Id</th>
                        <th>Phone </th>
                        <th>LinkedIn</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="contact : ${contacts}">
                        <td th:text="${contact.contactId}"></td>
                        <td th:text="${contact.phone}"></td>
                        <td th:text="${contact.linkedin}"></td>
                        <td>
                            <a th:href="@{/contacts/{id} (id = ${contact.contactId})}" class="btn btn-primary">Edit</a>
                            <a th:href="@{/contacts/delete/{id} (id = ${contact.contactId})}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <footer>
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
                © 2021 Copyright:
                <a class="text-dark" href="https://metrodataacademy.id/%22%3Emetrodataacademy.id">Metrodata Academy</a>
            </div> 
        </footer>
        
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

        <script>
            // Example starter JavaScript for disabling form submissions if there are invalid fields
            (function() {
            'use strict';
            window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
            }
            form.classList.add('was-validated');
            }, false);
            });
            }, false);
            })();
        </script>
    </body>
</html>
