<div id='left' th:fragment="left">
    <a th:class="${#strings.equals(#httpServletRequest.requestURI, '/dashboard')} ? 'dropdown-item active' : 'dropdown-item'" style="font-size: 20; padding: 10px 30px;" th:href="@{/dashboard}">
        <i class="fa fa-home"></i>
        Home</a>
    <a th:class="${#strings.equals(#httpServletRequest.requestURI, '/contact')} ? 'dropdown-item active' : 'dropdown-item'" style="font-size: 20; padding: 10px 30px;" th:href="@{/contact}">
        <i class="fa fa-users"></i>
        List Contact</a>
</div>