<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>User Management | District</title>
        <th:block th:replace="layout/headlink.html :: headlink "></th:block>
    </head>
    <body>

        <!-- Start Navbar -->
        <div th:replace="layout/header.html :: header-app"></div>

        <!--Side bar-->
        <div th:replace="layout/sidebar.html :: sidebar-app"></div>

        <div class="main p-0">
            <div class="container">
                <h1 class="text-center mt-5 mb-5">Data District</h1>
                
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target="#inputModal"><i class="fas fa-plus mr-2"></i>
                    Insert New District
                </button>
                
                <table class="table table-bordered text-center w-100" id="myTable">
                    <thead class="bg-dark text-white">
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">Kota/Kab</th>
                            <th scope="col">Nama Distrik</th>
                            <th scope="col">Nama Provinsi</th>
                            <th scope="col" sec:authorize="hasRole('TRAINER')">Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>

            <!-- Modal Input District -->
            <div class="modal fade" id="inputModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Insert New District</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="needs-validation m-4" id="inputForm" novalidate>
                                <input type="hidden" class="form-control" id="districtIdInsert" value="">
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Pilih Kabupaten/Kota : </label>
                                    <select class="form-control" id="kabInsert" required>
                                        <option value="" selected>--Pilih Kota/Kab--</option>
                                        <option value="Kab">Kabupaten</option>
                                        <option value="Kota">Kota</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Mohon Pilih Kota/Kab!
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Nama Distrik</label>
                                    <input type="text" class="form-control" id="districtNameInsert" placeholder="cth : Bandung"
                                           required>
                                    <div class="invalid-feedback">
                                        Mohon Isi Nama Distrik!
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Nama Provinsi</label>
                                    <select class="form-control" id="provinceIdInsert" required>
                                        <option value="" selected>--Pilih Provinsi--</option>
                                        <option th:each="id:${provinces}" th:value="${id.provinceId}" th:text="${id.provinceName}"></option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Mohon Pilih Nama Provinsi!
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!--Modal Edit District-->
            <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="needs-validation m-4" id="editForm" novalidate>
                                <input type="hidden" class="form-control" id="districtIdUpdate">
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Pilih Kabupaten/Kota : </label>

                                    <select class="form-control"  id="kabUpdate" required>
                                        <option value="Kab">Kabupaten</option>
                                        <option value="Kota">Kota</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Nama Distrik</label>
                                    <input type="text" class="form-control" id="districtNameUpdate" placeholder="cth : Bandung"
                                          required>
                                    <div class="invalid-feedback">
                                        Mohon Isi Nama Distrik!
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlInput1" >Nama Provinsi</label>
                                    <select class="form-control" id="provinceNameUpdate" required>
                                        <option th:each="id:${provinces}" th:value="${id.provinceId}" th:text="${id.provinceName}"></option>
                                    </select>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary ms-3">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div th:replace="layout/footer.html :: footer-app"></div>
            
        </div>

        <div th:replace="layout/scriptJs.html :: scriptJs"></div>

    </body>
</html>
