<!DOCTYPE html>

<html>
    <head>
        <title>Dashboard</title>
        <div th:replace="fragments/header-link :: header-link"></div>
        <div th:replace="fragments/dataTable :: dataTable"></div>
    </head>

    <body>
        <div th:replace="fragments/sidebar :: sidebar"></div>
        <div class="content-container">
            <div th:replace="fragments/header :: header"></div>

            <div class="container-fluid my-5">
                <div class="jumbotron">

                    <h1 sec:authorize="isAuthenticated()" >
                        Welcome <span sec:authentication="name">Username</span>   
                    </h1> 

                    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                    <hr class="my-4">
                    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                </div>
            </div>
            <br><br><br><br><br><br><br><br><br><br>
            <div th:replace="fragments/footer :: footer"></div>

        </div>

        <script th:src="@{/js/dropdown.js}"></script>
        <script th:src="@{/js/sweet-alert.js}"></script>

    </body>
</html>
