.header {
    padding: 120px;
    text-align: center;
    color: black;
    font-size: 30px;
    margin: 65px 0px 290px;
}

body{
    min-height: 100vh;
}

.container{
    margin: 0px 300px 25px;
    min-height: 80vh;
}

footer{
    padding: 65px 0px 0px;
}
