<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>District</title>
    <div th:replace="layout/linkrel" :: linkrel></div>
                
    </head>
    <body>
        <div class="content-wrapper">
            <!-----------------------------------sidebar-->
             <div th:replace="layout/sidebar" :: sidebar></div>
            <!-----------------------------------header-->
            <div th:replace="layout/header" :: header></div>
        <!-----------------------------------main-->
        <div class="main ">            
            
            <h1>District Insert Form</h1>
            <form x  th:action="@{/district/add}" method="post" th:object="${district}"  class="needs-validation" novalidate>
                <div class="form-row">
                    <div class="col-md-3 mb-3">
                        <label for="validationCustom05">District ID</label>
                        <input  class="form-control" id="id" placeholder="District ID" type="number" th:field="*{districtId}" required>
                        <div class="invalid-feedback">
                            Please insert District ID.
                        </div>
                    </div>

                    <div class="col-md-4 mb-3">
                        <label for="validationCustom02">District Name</label>
                        <input type="text" class="form-control" id="districtname"  placeholder="District Name"  th:field="*{districtName}" required>
                        <div class="invalid-feedback">
                            Please insert District Name.
                        </div>
                    </div>

                </div>

                <div class="form-row">

                    <div class="col-md-3 mb-3">
                        <label for="exampleFormControlSelect1">Example select</label>
                        <select class="form-control" id="kab"  th:field="*{kab}">
                            <option value="Kota">Kota</option>
                            <option value="Kab">Kab</option>

                        </select>
                    </div>
                    <div class="col-md-4 mb-3 ">
                        <label for="validationCustom01">Province ID</label>
                        <input type="number" class="form-control" id="provinceid"  placeholder=" Input Province ID" th:field="*{provinceId}" required>
                        <div class="invalid-feedback">
                            Please insert Province ID.
                        </div>
                    </div>
                </div>

                <button class="btn btn-primary" th:onclick="insertalert()" type="submit"><i class="fas fa-plus mr-2"></i>Submit</button>
                <a class="btn btn-warning" th:href="@{/district}" ><i class="fas fa-chevron-left mr-2"></i>Back</a>

            </form>

        </div>
        <!-----------------------------------footer-->
            <div th:replace="layout/footer" :: footer></div>
        <!-----------------------------------wrapper-->
    </div>
        <script type="text/javascript" charset="utf8" src="/js/js.js"></script>
      
</body>
</html>
