<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>District</title>
    <div th:replace="layout/linkrel" :: linkrel></div>= 
    </head>
    
    
    
    <body>
        <div class="content-wrapper">
            <!-----------------------------------sidebar-->
             <div th:replace="layout/sidebar" :: sidebar></div>
            <!-----------------------------------header-->
            <div th:replace="layout/header" :: header></div>
        <!-----------------------------------main-->
        <div class="main ">
            <a th:href="@{/district/add}" class="btn btn-outline-primary mt-2 mb-5" sec:authorize="hasAuthority('CREATE')"><i class="fas fa-plus mr-2"></i>Add Data</a>
            <table  id="example" class="display mt-2" >
                <thead>
                    <tr>

                        <th scope="col">Distric ID</th>
                        <th scope="col">Kab</th>
                        <th scope="col">District Names</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="district : ${district}">
                        <td th:text="${district.districtId}"></td>
                        <td th:text="${district.kab}"></td>
                        <td th:text="${district.districtName}"></td>
                        <!--                    <td th:text="${district.provinceId}"></td>-->
                        <!--                    <td th:text="${province.districtList}"></td> key provinceId = value Banten-->
                        <td>

                            <a th:href="@{district/{id} (id = ${district.districtId})}" class="btn btn-primary" sec:authorize="hasAuthority('UPDATE')"><i class="far fa-edit"></i></a>
                            <a th:href="@{district/delete/{id} (id = ${district.districtId})}" class="btn btn-danger" id="delete" th:onclick="deletealert()" sec:authorize="hasAuthority('DELETE')"><i class="far fa-trash-alt"></i></a>
                        </td>
                    </tr>  
                </tbody>
            </table>
        </div>
        
        <!-----------------------------------footer-->
            <div th:replace="layout/footer" :: footer></div>
        <!-----------------------------------wrapper-->
    </div>
     <script type="text/javascript" charset="utf8" src="/js/js.js"></script>
</body>
</html>
