<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    </head>
    <body>
        <h1 class="text-center mt-5 mb-5">Login Form</h1>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <form class="needs-validation" novalidate th:action="@{/login}" method="post" th:object="${auth}">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Username</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" th:field="*{userName}" required>
                            <div class="invalid-feedback">
                                Please input your username.
                            </div>
                            <!--<small id="emailHelp" class="form-text text-muted">input your username correctly.</small>-->
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" th:field="*{password}" required>
                            <div class="invalid-feedback">
                                Please input your password.
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Login</button>
                        <p th:text="${param.error} ? 'Username or password incorrect' : ''" class="text-danger mt-3 text-center font-weight-bold"></p>
                        <p th:text="${param.logout} ? 'You have been logged out' : ''" class="text-danger mt-3 text-center font-weight-bold"></p>
                    </form>
                </div>
            </div>
        </div>









        <script>
            // Example starter JavaScript for disabling form submissions if there are invalid fields
            (function() {
            'use strict';
            window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
            }
            form.classList.add('was-validated');
            }, false);
            });
            }, false);
            })();
        </script>
    </body>
</html>
