<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>province-page</title>
    <div th:replace="layout/headerlink:: headerlink"></div>
</head>
<body>
    <!--sidebar-->
    <div th:replace="layout/sidebar :: sidebar"></div>
    <!--end sidebar-->

    <div class="content-container">
        <!--header-->
        <div th:replace="layout/header :: header"></div>
        <!--header-->

        <!--    menu province-->
        <div class="container md">

            <h1>Data Province</h1>
            <br>
            <a th:href="@{/province/add}" class="btn-primary btn-sm mb-3" sec:authorize="hasAuthority('CREATE')">Add Province</a>
            <br>
            <br>

            <table id="provinceTable" class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Province Id</th>
                        <th>Province Name</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    <!--iterator(satuan) : list<satuan>(tergantung model yg diberikan nama pada controller)-->
                    <tr th:each="p : ${provinces}">
                        <td th:text="${p.provinceId}"></td>
                        <td th:text="${p.provinceName}"></td>
                        <td>
                            <a th:href="@{/province/{id} (id = ${p.provinceId})}" class="btn-primary btn-sm mb-3">Update</a>
                            <a id="delete" th:href="@{/province/delete/{id} (id = ${p.provinceId})}" th:onclick="return confirm('Apakah ingin dihapus?')" 
                               class="btn-danger btn-sm mb-3" sec:authorize="hasAuthority('DELETE')">Delete</a>

                        </td>
                    </tr>
                </tbody>
            </table>
            <hr>
            <a th:href="@{/dashboard}" class="btn btn-info col-2">Back to Dashboard</a>
        </div>
    </div>
    <!--end menu province-->

    <!--                  footer-->
    <div th:replace="layout/footer :: footer"></div>                
    <!--footer-->

    <script>
        $(document).ready(function () {
            var table = $('#provinceTable').DataTable();
        });
    </script>
    <script> 
        $('#delete').click(function(){
          swal({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
          if (result.isConfirmed) {
            swal(
              'Deleted!',
              'Your file has been deleted.',
              'success'
            )
          }
        })
    }
)
        </script>
</body>
</html>

