<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header_link :: header_link">
    <body>
        <div th:replace="fragments/header :: header"></div>
        <div id='main'>
            <div th:replace="fragments/left :: left"></div>
            <div id='right'>
                <div class="container d-flex justify-content-center align-items-center flex-column">
                    <br><h1 style="color: #F9F5F4">EMPLOYEE'S CONTACTS</h1><br>

                    <a th:href="@{/contacts/new}" class="btn btn-primary">Add New Contact</a><br>

                    <table id="table_id" style="width: 100%" border="4" class="display mt-2">
                        <thead class="thead-dark">
                            <tr class="text-center">
                                <th>Contact Id</th>
                                <th>Phone </th>
                                <th>LinkedIn</th>
                                <th sec:authorize="hasRole('ADMIN')">Actions</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr lass="text-center" th:each="contact : ${contacts}">
                                <td th:text="${contact.contactId}"></td>
                                <td th:text="${contact.phone}"></td>
                                <td th:text="${contact.linkedin}"></td>
                                <td sec:authorize="hasRole('ADMIN')">
                                    <a th:href="@{/contacts/{id} (id = ${contact.contactId})}" class="btn btn-primary">Edit</a>
                                    <a th:href="@{/contacts/delete/{id} (id = ${contact.contactId})}" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div th:replace="fragments/footer :: footer"></div>
        
        <div th:replace="fragments/script :: script"></div>
    </body>
</html>