<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head_link :: head_link">
    <body>
        <div th:replace="fragments/header :: header"></div>
        <div id='main'>
            <div th:replace="fragments/left :: left"></div>
            <div id='right' style="background-size: cover; background-image: url('/css/images/wallpaperlogin.jpg')";>
                <div class="container d-flex justify-content-center align-items-center flex-column">
                    <br><h1 style="color: #F9F5F4">EMPLOYEE'S CONTACTS</h1><br>

                    <div th:replace="fragments/create_modal :: create_modal"></div>

                    <table id="myTable" style="width: 100%; margin: 0;" border="4" class="display">
                        <thead class="thead-dark">
                            <tr class="text-center">
                                <th>Contact Id</th>
                                <th>Phone </th>
                                <th>LinkedIn</th>
                                <th sec:authorize="hasRole('ADMIN')">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--                            <tr lass="text-center" th:each="contact : ${contacts}">
                                                            <td th:text="${contact.contactId}"></td>
                                                            <td th:text="${contact.phone}"></td>
                                                            <td th:text="${contact.linkedin}"></td>
                                                            <td sec:authorize="hasRole('ADMIN')">
                                                                <div th:replace="fragments/update_modal :: update_modal"></div>
                                                                <button type ="submit" class="btn btn-outline-danger mt-2 mb-2" th:onclick="deleteData()">
                                                                    <i class="fa fa-1x fa-trash"></i>
                                                                </button> 
                                                            </td>
                                                        </tr>-->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog  modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header border-bottom-0">
                        <h5 class="modal-title" id="exampleModalLabel">Create Contacts</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id='updateForm' action="#" method="post" class="needs-validation" novalidate>
                            <div class="form-group">
                                <label for="phone">Phone</label>
                                <input type="tel" id="phone" name="phone" class="form-control" aria-describedby="phoneHelp" placeholder="Enter your phone number" required>
                                <small id="phoneHelp" class="form-text text-muted">Your information is safe with us.</small>
                                <div class="invalid-feedback" style="font-size: 12">Please input your phone number</div>
                            </div>
                            <div class="form-group">
                                <label for="linkedin">LinkedIn</label>
                                <input type="text" id="linkedin" name="linkedin" class="form-control" placeholder="Enter your LinkedIn" required>
                                <div class="invalid-feedback" style="font-size: 12">Please input your LinkedIn</div>
                            </div>
                            <div class="modal-footer border-top-0 d-flex justify-content-center">
                                <button type="submit" class="btn btn-success" id="submitUpdate">Submit</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--<div th:replace="fragments/update_modal :: update_modal"></div>-->

        <div th:replace="fragments/footer :: footer"></div>

        <div th:replace="fragments/script :: script"></div>


    </body>
</html>