<div class="header-app" th:fragment="header">
                <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                    <div class="container">
                        <a class="navbar-brand" href="#">MCC 47 group 4</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav ml-auto">
                                <a class="nav-link btn btn-info ml-3 text-white" th:href="@{/profile}">Profile Developer</a>
                                <a class="nav-link btn btn-info ml-3 text-white" th:href="@{/contact}">Contact Us</a>
                                 <a class="nav-link btn btn-info ml-3 text-white" 
                                 th:href="@{/logout}" th:onclick="return confirm('Apakah ingin logout?')">
                                 <i class="fa fa-cog" aria-hidden="true"></i> Logout
                                 </a>
                           </div>
                        </div>
                    </div>
                </nav>
            </div>