<div class="sidebar-container" th:fragment="sidebar">
     <div th:replace="layout/user :: user"></div>
     <h1></h1>
    <div class="sidebar-logo">
        Client-Apps
    </div>
    <h1></h1>

        <ul class="sidebar-navigation">
            <li class="header">MENU</li>
            <li th:class="${#strings.contains(#httpServletRequest.requestURI,'/dashboard')} ? 'menu-item active' : 'menu-item'">
                <a th:href="@{/dashboard}" class="menu-link">
                    <i class="fa fa-home" aria-hidden="true"></i> Dashboard
                </a>
            </li>
            <li th:class="${#strings.contains(#httpServletRequest.requestURI,'/province')} ? 'menu-item active' : 'menu-item'"
                sec:authorize="hasRole('ADMIN')">
                <a th:href="@{/province}"class="menu-link">
                    <i class="fa fa-tachometer" aria-hidden="true"></i> Data Province
                </a>
            </li>

            <li th:class="${#strings.contains(#httpServletRequest.requestURI,'/district')} ? 'menu-item active' : 'menu-item'"
                >
                <a th:href="@{/district}"class="menu-link">
                    <i class="fa fa-users" aria-hidden="true"></i> Data District
                </a>
            </li>
            <!--                <li>
                                <a th:href="@{/logout}" th:onclick="return confirm('Apakah ingin logout?')">
                                    <i class="fa fa-cog" aria-hidden="true"></i> Logout
                                </a>
                            </li>-->

        </ul>
</div>